.halfsies-container {
    display: flex;
    width: 100%;
}
.vertical-space { 
    padding: 15px 0 ;
}
.halfsies-column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.custom-image {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
}

.inline-image {
    display: inline-flex;
    flex-direction: column;;
    align-items: center;
}

.inline-image small {
    text-align: center;;
}