<div style="display: flex; gap: 1rem; flex-wrap: wrap; justify-content: center;">
  <a href="/images/event-promo/pafl-algorave-2025.png" target="_blank" rel="noopener noreferrer">
    <img src="/images/event-promo/pafl-algorave-2025.png" alt="Flyer for Public Art Futures Lab Algorave 2025" height="325px">
  </a>
  <a href="/images/event-promo/futures-lab-map.png" target="_blank" rel="noopener noreferrer">
    <img src="/images/event-promo/futures-lab-map.png" alt="Map to the Public Art Futures Lab" height="325px">
  </a>
</div>
