<div class="intro-to-livecode">
    <div class="halfsies-container">
        <div class="halfsies-column">
            <h3 id="audio">Audio</h3>
            <p>If music is more your <em>swing</em>, try <strong>Strudel</strong>!</p>
            <p><strong>language</strong>: Javascript</p>
            
            <a href="https://strudel.cc/" target="_blank">
                <button class="button button-left">
                    Go To Strudel
                </button>
            </a>
            <div class="vertical-space"></div>
            <small>
                <a  target="_blank" href="https://strudel.cc/workshop/first-sounds/">docs</a>
            </small>

            <p>🏁✴️🏁✴️🏁✴️🏁</p>
        </div>

        <div class="halfsies-column">
            <h3 id="visual">Visual</h3>
            <p>If you lean towards <em>visual art</em> then <strong>Hydra</strong> is a great place to start!</p>
            
            <p><strong>language</strong>: Javascript</p>

            <a href="https://hydra.ojack.xyz" target="_blank">
                <button class="button button-right">
                    Go To Hydra
                </button>
            </a>
            <div class="vertical-space"></div>
            <small>
                <a  target="_blank" href="https://hydra.ojack.xyz/api/">docs</a>
            </small>


            <p>🏁✴️🏁✴️🏁✴️🏁</p>

        </div>
        
    </div>
</div>
