<div style="display: flex; gap: 1rem; flex-wrap: wrap; justify-content: center; margin: 50px 0;">
  {{ with .Get "src" }}
    <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
      <img src="{{ . }}" alt="Flyer for Public Art Futures Lab Algorave" height="325px">
    </a>
  {{ end }}
  <a href="/images/event-promo/futures-lab-map.png" target="_blank" rel="noopener noreferrer">
    <img src="/images/event-promo/futures-lab-map.png" alt="Map to the Public Art Futures Lab" height="325px">
  </a>
</div>
